whatsapp-ai-assistant.json
{
  "name": "whatsapp-ai-assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-sales",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -32
      ],
      "id": "cb4435ce-28a4-494a-97f7-8a2f7d54574a",
      "name": "Webhook",
      "webhookId": "4ef0b3a1-fe66-4941-8296-076314755ecd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chatId",
              "value": "={{ $('Webhook').item.json.body.senderData.chatId }}"
            },
            {
              "name": "message",
              "value": "={{ $node[\"AI Agent\"].json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        -240
      ],
      "id": "54d0bf80-854c-4550-b6a0-c041285bf03c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96721f12-a327-4406-a2ee-972fb2e4a02d",
              "leftValue": "={{ $json.body.typeWebhook }}",
              "rightValue": "incomingMessageReceived",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        128,
        -160
      ],
      "id": "6b2dad54-85a4-4a1a-b32a-b7d0247bfeb4",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.messageData.textMessageData.textMessage }}",
        "options": {
          "systemMessage": "Ты — профессиональный и заботливый администратор стоматологии премиум класса в шымкенте \"Аура\" тебя зовут Мерей. Твоя цель: записать клиента на услугу.\n\nТвои правила работы:\n1. ИМЯ: Если ты не знаешь имени клиента, аккуратно узнай его в начале беседы. Если клиент представился, используй его имя в диалоге.\n2. ПРАЙС: Предлагай услуги из нашего списка, если клиент интересуется:\n  придумай услуги сам\n\n3. ЗАПИСЬ: Если клиент выбрал услугу, предложи выбрать дату и конкретное время (например: \"У нас есть свободные окошки на завтра в 10:00 и 14:00, вам было бы удобно?\").\n4. ПАМЯТЬ: Всегда анализируй историю переписки (chat_history). Не переспрашивай то, что клиент уже сказал. Если он уже выбрал стрижку, сразу переходи к обсуждению времени.\n5. СТИЛЬ: Общайся вежливо, используй уместное количество дружелюбных эмодзи. Отвечай кратко и по делу, не пиши огромные тексты.\n\nТвоя задача — довести диалог до фразы: \"Отлично, записываю вас на [услуга] в [дата] на [время]\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -192
      ],
      "id": "cb287a0c-7fa0-4e77-a9ac-2d5bf00d42ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        272,
        96
      ],
      "id": "39808fae-a594-4e3d-a172-71a1f237455d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YkmPRXNhPSIlrJzU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.senderData.chatId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        96
      ],
      "id": "9fe9ce8a-08f8-44be-96b4-c63283f87ca6",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1ccfb035-c83b-44f8-942d-e6b43e935984",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "770b66b743a49ee4b4df55b6a58372e6c62ad2b879acaeb6a35fec2d782dbd1a"
  },
  "id": "udzOMdYnov4Mbxkq",
  "tags": []
}